<h1>New Author</h1>

<% if @article.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@article.errors.count, "error") %> prohibited
      this article from being saved:
    </h2>
    <ul>
      <% @article.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_with url: authors_path, local: true do |form| %>
  <p>
    <%= form.label :'author[first_name]', "First name" %><br>
    <%= form.text_field :"author[first_name]" %>
  </p>

  <p>
    <%= form.label :'author[last_name]', "Last name" %><br>
    <%= form.text_field :"author[last_name]" %>
  </p>

  <p>
    <%= form.label "Homepage" %><br>
    <%= form.text_field :"author[homepage]" %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>